* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-image: linear-gradient(blueviolet 78%, gray);
    max-height: 100vh;
    height: 100vh;
}

.container {
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5rem;
}

header {
    display: flex;
    justify-content: center;
}

.headerTitle {
    color: wheat;
    font-size: 2.8rem;
}

main {
    background-color: wheat;
    width: 70%;
    padding: 1rem;
    min-height: 220px;
    border-radius: 12px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 1.5px 1.5px 3.2px black;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

span {
    font-size: 1.2rem;
}

.spanQtd {
    text-align: end;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.finish {
    display: none;
    flex-direction: column;
    gap: 10px;
}

button {
    font-size: 1.12rem;
    width: 100%;
    border: none;
    background-color: blueviolet;
    color: white;
    padding: 1rem 2rem;
    border-radius: 8px;
    cursor: pointer;

    box-shadow: 1px 1px 4px black;
}

.finish button {
    text-align: center;
}

.correctOrIncorrect {
    height: 18px;
    width: 18px;
    background-color: gray;

    border-radius: 50%;
}

@media screen and (max-width: 600px) {
    main {
       width: 90%;
    }
}